.header {
  background-image: url(../img/backgrounds/landing.jpg);
  height: 60vh;
  text-align: center;
  color: white;
  font-family: 'Glegoo', serif;
  font-size: 18px;
}


.logo {
  text-align: center;

}


.imageDinner {
  width:300px;
  height:205px;
  background-image: url(../img/foodtop/dinner.jpg);
  float:right;
  padding: 80px;
  padding-right: 90px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Glegoo', serif;

}

.imageLunch {
    width:300px;
    height:205px;
    background-image: url(../img/foodtop/lunch.jpg);
    float:right;
    position: relative;
    padding: 90px;
    padding-left: 90px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Glegoo', serif;
}

 .imageBreakfast {
      background-image: url(../img/foodtop/breakfast.jpg);
       width:300px;
       height:205px;
       float:right;
       position: relative;
       padding: 80px;
       padding-right: 90px;
       text-align: center;
       color: white;
       font-size: 20px;
       font-family: 'Glegoo', serif;
       float:right;
     }


.panel-heading {
  font-family: 'Glegoo', serif;
  text-align: center;
  font-size: 20px;
  top: 20px;
  left: 0;
  width: 127%;
  height: 13vh;
  float:left;
  padding-top: 30px;


}
.panel-footer {
  font-family: 'Glegoo', serif;
  text-align: center;
  font-size: 20px;
  top: 20px;
  left: 0;
  width: 127%;
  height: 25vh;
  background-color: #F15A29;
  padding-left: 20px;
  padding-top: 100px;

}

.fastfood {
  margin-top: 25%;
  margin-left: 10%;
  border-left: 35vh;


}
 .fastFood {
   padding-left: 30vh;

 }

.drink-img {

  border-top: 800vh;
}
.drink1 {
  float:right;
  margin-top: 20vh;

}
.drink2 {
  float:right;
  margin-top: 20vh;
  padding-right: 9vh;
  /* margin-right: 30vh; */
}
.drinks {
  text-align: justify;
  padding-top: 17vh;
  padding-left: 19vh;
}
.drinktext {
  text-align: right;
  font-family: 'Glegoo', serif;
  /* font-weight: bold; */
  font-size: 50%;
}
#drinks {
  border-color: #F15A29;
   border-width: thin;
   text-align: right;
   color: #F15A29;
   margin-left: 32vh;
   margin-top: 10px;
   font-size: 130%;


}

#fastfood {
  border-color: #F15A29;
   border-width: thin;
   text-align: right;
   color: #F15A29;
   margin-top: 15px;
   font-size: 130%;

}
#fastfood2{
  font-family: 'Glegoo', serif;
  /* font-weight: bold; */
  font-size: 50px;
}

.button {
  text-align: center;
  margin-top: 15vh;
}
#fast-food{
  padding: 15px 110px;
  border: none;
  color:#F15A29;
  font-family: 'Glegoo', serif;

}
#drinksss{
  padding: 15px 110px;
  border: none;
  font-family: 'Glegoo', serif;
}
#chicken{
  padding: 15px 110px;
  border: none;
  font-family: 'Glegoo', serif;
}
#Rice{
  padding: 15px 110px;
  border: none;
  font-family: 'Glegoo', serif;
}

#chickenBurger {
  padding-top: 30px;
  padding-left: 20vh;
  color:#F15A29;
  /* text-align: center; */
  /* padding-right: 5vh; */
}
#chickenPizza {
  padding-top: 30px;
  padding-left: 24vh;
  color:#F15A29;
  /* text-align: center; */
}
#beefBurger{
  padding-top: 30px;
  padding-left: 22vh;
  color:#F15A29;
  border-spacing: 20px;
  /* text-align: center; */
  /* padding-right: 5px; */
}
