.header {
  background-image: url(../img/backgrounds/landing.jpg);
  height: 80vh;
  text-align: center;
  color: white;
  font-family: 'Glegoo', serif;
  font-size: 18px;
}


.logo {
  text-align: center;

}


.imageDinner {
  width:300px;
  height:200px;
  background-image: url(../img/foodtop/dinner.jpg);
  float:right;
  padding: 80px;
  padding-right: 90px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Glegoo', serif;

}

.imageLunch {
    width:300px;
    height:200px;
    background-image: url(../img/foodtop/lunch.jpg);
    float:right;
    position: relative;
    padding: 90px;
    padding-left: 90px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Glegoo', serif;
}

 .imageBreakfast {
      background-image: url(../img/foodtop/breakfast.jpg);
       width:300px;
       height:200px;
       float:right;
       position: relative;
       padding: 80px;
       padding-right: 90px;
       text-align: center;
       color: white;
       font-size: 20px;
       font-family: 'Glegoo', serif;
     }

.test-box {
  font-family: 'Glegoo', serif;
  text-align: center;
  height: 100px;
  width: 130px;
  padding:150px;

}
.text-box {
  font-family: 'Glegoo', serif;
  text-align: center;
  height: 28px;
  width: 130px;
}

.sidebar {
  padding:50px;
}
