.header {
  background-image: url(../img/backgrounds/landing.jpg);
  height: 80vh;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: white;
  font-family: 'Glegoo', serif;
  font-size: 18px;
}
}

.logo {
  text-align: center;

}


 .sidebar {
   float:left;
 }
